<div class="headercon">


<a href="root"><%= image_tag("title.PNG",alt: "Somethin Good", size: "300x150",class:"logo") %>
</a>
<%=image_tag("コーヒー.gif",alt:"cafe",size:"300x300",class:"cafe")%>

<div class="tag">
<ul>
  <li><a href="first"><%=image_tag("label1.PNG",alt:"激安おすすめ",size:"320x150",class:"nametag")%></a></li>
  <li><a href="#"><%=image_tag("normaltag.PNG",alt:"タグ",size:"320x150",class:"nametag")%></a></li>
  <li><a href="#"><%=image_tag("normaltag.PNG",alt:"タグ２",size:"320x150",class:"nametag")%></a></li>
</ul>
</div>

</div>
