<!DOCTYPE html>
<html>
  <head>
    <title><%=page_title%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <meta name="viewport" content="width=device-width,initial-scale=1">
     <link rel="stylesheet" href="/stylesheets/sp.css" media="screen and (max-width:750px)">
  </head>

  <body>
    <div class="all">
      <div id="header">
<%= render "shared/header" %>
        </div>
        <div class="clearfix">
<div  id="content" >
    <%= yield %>
    </div>
    <div id="sidebar">
      <%= render "shared/sidebar" %>
      </div>
      </div>
      <div id="footer">
      <%= render "shared/footer" %>
      </div>
      </div>


  </body>
</html>
